body {
    background: url('../images/bg-desktop.svg') center center no-repeat;
    background-color: hsl(257, 40%, 49%);
    font-family: "Poppins", sans-serif;
    color: #fff;
    padding: 30px 60px;
    height: 100vh;
    background-size: cover;
}

.header {
    margin-bottom: 60px;

}

.header a img {
    max-width: 200px;
}

.main {
    display: flex;
    gap: 60px; 
   
}

.main .info h1 {
    max-width: 400px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 40px;
}

.main .info p {
    margin-bottom: 30px;
    font-weight: 300;
    max-width: 550px;
    line-height: 26px;
}

.main .info a {
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    padding: 10px 50px;
    border-radius: 20px;
    transition: 0.3s;
}

.main .info a:hover{
    background-color:hsl(300, 69%, 71%) ;
    color: #fff;
}

.footer {
    text-align: right;
}

.footer i {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #fff;
    margin-left: 7px;
    transition: 0.3s;
}
.footer a:hover i{
    color:hsl(300, 69%, 71%) ;
    border: 1px solid hsl(300, 69%, 71%);
}
